name: Commit Lint

on:
  pull_request:
    types: [opened, edited, synchronize, reopened, ready_for_review]

permissions:
  contents: read
  pull-requests: read

jobs:
  commitlint:
    name: Commit Message Lint
    runs-on: ubuntu-latest
    steps:
      - uses: wagoid/commitlint-github-action@v6
        with:
          configFile: commitlint.config.cjs
